<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Amazon/MyOwn-->
    <add key="Karyon.NET.NetflixOss.datacenter" value="MyOwn"/>
    <add key="Karyon.NET.NetflixOss.applicationName" value="BatchService"/>
    <add key="Karyon.NET.NetflixOss.listenToPort" value="8080"/>
    <add key="Karyon.NET.NetflixOss.listenToSecurePort" value="0"/>
    <add key="Karyon.NET.NetflixOss.listenToPublic" value="true"/>
    <add key="Karyon.NET.NetflixOss.eurekaPath" value="http://ec2-174-129-161-75.compute-1.amazonaws.com/eureka"/>
    <!--in case of non-amazon-->
    <add key="Karyon.NET.NetflixOss.nonAmazon-localIPv4" value="127.0.0.1"/>
    <add key="Karyon.NET.NetflixOss.nonAmazon-publicIPv4" value="127.0.0.1"/>
    <add key="Karyon.NET.NetflixOss.nonAmazon-instanceID" value="i-12345"/>
  </appSettings>
</configuration>