<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="karyon.net.config" type="Karyon.EurekaIntegration.KaryonConfigHandler, Karyon.Net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <karyon.net.config>
    <!--The full URL path to the Eureka service.-->
    <eurekaServiceUrl>
      <add>http://ec2-174-129-161-75.compute-1.amazonaws.com/eureka</add>
    </eurekaServiceUrl>
    <!--The Data Center name: either Amazon or MyOwn-->
    <!-- localIPv4 - In case when non-Amazon data center is used, the Local IP address that should be used by the application.-->
    <!-- publicIPv4 - In case when non-Amazon data center is used, the Public IP address that should be used by the application.-->
    <!-- instanceID - In case when non-Amazon data center is used, the InstanceId that should be used by the application.-->
    <datacenter name="Amazon">
      <localIPv4>127.0.0.1</localIPv4>
      <publicIPv4>127.0.0.1</publicIPv4>
      <instanceID>i-12345</instanceID>
    </datacenter>
    <!--The application name. The name should not contain special symbols and/or white spaces.-->
    <applicationName>DemoService</applicationName>
    <!-- port - The non-secure port that application should listen with its services.-->
    <!-- securePort - The secure port that application should listen with its services. 0 means the application does not listen to secure port.-->
    <!-- isPublic - A boolean flag indicated that application should listen to public IP address. If true, the public IP is used, if false, the private IP is used.-->
    <listenTo port="8080" securePort="0" isPublic="true" />
  </karyon.net.config>

  <appSettings>
  </appSettings>
</configuration>